
:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
}





header {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}


.deep_grid,
.Night_grid,
.soccer_grid,
.the_grid,
.From_grid,
.pocket_grid,
.curiosity_grid,
.fisheye_grid {
  cursor: pointer;
}

.deep_grid:hover,
.Night_grid:hover,
.soccer_grid:hover,
.the_grid:hover,
.From_grid:hover,
.pocket_grid:hover,
.curiosity_grid:hover,
.fisheye_grid:hover
 {
  filter: grayscale(100%);
  opacity: 2;
  transition: opacity 0.3s ease;
  color: black;
}

.grid-section h2:hover {
  color: black;
}

  .Menu {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    

  }

  .logo_svg img {
  cursor: pointer;
  }

  .attribution {
    display: none;
  }

  /* mobile view */
  
  
  /* desktop view */


  
  